## Your first Jupiter Notebook

Hello everyone, this is a Jupiter notebook. This will be our main format for most of the exercise sessions.

The cool thing about Jupiter notebook is that it combines code and explanations in one file and let you run python code directly from here.

First, let's try to run the following cell:

In [4]:
print("Hello world!")

hello world

You can always play around and edit the code cell to try your own code. But the program will not work unless the code is written exactly as it is above. For example, trying to run the print command without the quotation marks:

In [5]:
print(Hello world)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4196903471.py, line 1)

You should also always close the parentheses, otherwise you will see another error message:

In [7]:
print("Forgetful parentheses"

SyntaxError: incomplete input (3619221000.py, line 1)

In [13]:
print('Single quotation marks work as well')

Single quotation marks work as well

You can also print multiple lines

In [6]:
print("Welcome to Technical Basics I!")
print("This is our first class of the semester.")
print("Let's learn the print function in Python.")

Welcome to Technical Basics I
This is our first class of the semester
Let's learn the print command in Python

Now it's your turn. Try to create a new code block below and print an emoticon: :-)

---

You can even print arithmetic operations directly:

In [8]:
print(3+4)
print(11*13)
print(8*5+4)

7
143
44

Notice that there is no quotation marks around the arithmetic operations. Quotation marks are used to signify <i>strings</i>. We will talk more about strings next week. For now, what you put between the quotation marks will be printed exactly as it is.
Notice the differences between the following two lines of code

In [9]:
print(1+2-3)
print("1+2-3")

0
1+2-3

You can even combine the two styles together, but don't forget to separate them with a comma.

In [16]:
print("This is the result of 2025+2024:", 2025+2024)

This is the result of 2025+2024: 4049

And more commas

In [17]:
print("One hour has ", 60*60, "seconds. One day has ", 60*60*24, "minutes.")

One hour has  3600 seconds. One day has  86400 minutes.

Notice that all characters have the same width in your output

In [11]:
print("-----")
print("wwwww")
print("+++++")

-----
wwwww
+++++

---

### Excercise 1

Make a little piece of ASCII art with print functions in python. You can first try it out here in the notebook. After you are satisfied with your result, save it as a `.py` file